<template>
  <div id="app">
    <div class="links">
      <router-link :to="{name: 'home'}">Home</router-link>
      <router-link :to="{name: 'contact'}">Contact</router-link>
      <router-link :to="{name: 'article', params: {id: 1}}">Article 1</router-link>
      <router-link :to="{name: 'article', params: {id: 2}}">Article 2</router-link>
      <a href="" @click="redirectToContact">Contact sans router link</a>
    </div>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'app',
  methods: {
    redirectToContact(e) {
      this.$router.push({name: "contact"});
      e.preventDefault();
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.links a {
  margin-right: 5px;
}
</style>
